@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1024px){

}
@media screen and (max-width: 992px){
	.third{
		.third-background{
			.mbox{
				.advantages{
					.advantage-headding{
						.cover{padding:0 100px;
							.shadow{top: 110px;
								
							}
							
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: 767px){

}
@media screen and (max-width: 666px){
.third{
		.third-background{
			.mbox{
				.advantages{
					.advantage-headding{
						.cover{padding:0 0px;
							.shadow{top: 110px;
								
							}
							
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: 479px){
	.third{
		.third-background{
			.mbox{
				.advantages{
					.advantage-headding{
						.cover{padding:0 40px;font-size:43px;
							.shadow{top: 150px; left: 20px;
								
							}
							
						}
					}
				}
			}
		}
	}
}
@media screen and (max-width: 320px){

}