<section id="eight-block" class="eight-block">
    <div class="eight-wrap">
        <div class="mbox">
            <div class="special-text">
                <p>При обращении за помощью <br/> <span> в течение 1 часа – </span>  </p>
            </div>
            <div class="back-timer cfix">
                <div class="cont">
                    <div class="t-box">
                        <div class="minutes ciferki"> 60 </div>
                    </div>
                    <div class="after-text">мин</div>
                </div>
                <div class="cont">
                    <div class="t-box">
                        <div class="seconds ciferki"> 00 </div>
                    </div>
                    <div class="after-text">сек</div>
                </div>
            </div>
            <div class="special-text">
                <p>первичная юридическая консультация за </p>
                <b>210 000 </b>
                <i>белорусских рублей.</i>
            </div>
            <div class="form-block">
                <form action="ajax.php" name="" class="contact-form mark5">
                    <div class="contact-form-row cfix">
                        <div class="contact-form-item">
                            <div class="contact-form-item-input form_row">
                                <div class="form_input">
                                    <input type="text" name="contact_name" required="required" value="" placeholder="Имя">
                                </div>
                            </div>
                        </div>
                        <div class="contact-form-item">
                            <div class="contact-form-item-input form_row">
                                <div class="form_input">
                                    <input type="text" name="contact_tel" value="" required="required" placeholder="Телефон" class="tel-mask">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="contact-form-row-submit cfix">
                        <div class="contact-form-item">
                            <button type="submit" class="contact-submit">
                                <span>Заказать консультацию</span>
                            </button>
                        </div>
                    </div>
                </form>                
            </div>
            <div class="phone-call">
                <a href="" class="call-me"> +375 29 626 87 47 </a>
            </div>
        </div>
    </div>
</section>