<section class="fifth-block" id="fifth-block">
    <div class="mbox">
        <div class="fifth-wrap setion-animate">
            <div class="title">
                <h2>Факты</h2>
            </div>
            <div class="content">
                <div class="item animate-delay">
                    <div class="img desctop"><img src="images/item-f01.png" alt=""></div>
                    <div class="img mobile"><img src="images/item-f01m.png" alt=""></div>
                    <div class="txt">
                        <p> Экспертный уровень</p>
                        <p>    Наши познания в сфере юриспруденции постоянно расширяются и мы обладаем всеми навыками, чтобы успешно
                            применять их на практике. </p>
                    </div>
                </div>
                <div class="item animate-delay">
                    <div class="img desctop"><img src="images/item-f02.png" alt=""></div>
                    <div class="img mobile"><img src="images/item-f02m.png" alt=""></div>
                    <div class="txt">
                        <p>Оперативность</p>
                        <p>Промедление и/или неправильные юридические и/или фактические действия могут привести к непредвиденным результатам!
                            Мы этого не допустим!  </p>
                    </div>
                </div>
            </div>
            <div class="roun-block">
                <div class="round">
                    <p> Мы несем</p>
                    <p><b>персональную</b></p>
                     <p>   <b> ответственность</b></p>
                     <p>    перед</p>
                      <p>   клиентом. </p>
                </div>
            </div>
            <div class="content last">
                <div class="item animate-delay">
                    <div class="img desctop"><img src="images/item-f03.png" alt=""></div>
                    <div class="img mobile"><img src="images/item-f03m.png" alt=""></div>
                    <div class="txt">
                        <p>  Большой опыт</p>
                        <p>   Многолетняя практика позволила накопить нам колоссальный опыт в различных сферах права. По этому мы не сторонимся трудностей и всегда готовы отстоять права наших клиентов.  </p>
                    </div>
                </div>
                <div class="item animate-delay">
                    <div class="img desctop"><img src="images/item-f04.png" alt=""></div>
                    <div class="img mobile"><img src="images/item-f04m.png" alt=""></div>
                    <div class="txt">
                        <p> Гарантия </p>
                        <p> Оплата гонорара адвоката только по факту достижения положительного результата для клиента.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>