<!-- HEADER -->
<header>
    <div class="convertation">
        <div class="button-up">
            <img src="images/strelka.png" alt="">
            <p>наверх</p>
        </div>
        <div class="convert-main">
            <div class="head-row">
                <div class="logo">
                    <h2>Tukin.by</h2>
                </div>
                <div class="phone">
                    <a href="call:+375296268747" class="call-me"> +375 29 626 87 47 </a>
                </div>
                <div class="last">
                    <p> г. Минск, ул. Кальварийская, д. 1, офис 121 </p>
                    <a href="" class="but fancybox-form"> <span>Заказать консультацию </span></a>
                </div>
            </div>
            <div class="menu-mobile body-menu cfix">
                <div class="conv-o">
                    <img src="images/mobile.png" alt="">
                </div>
                <div class="tex">меню</div>
            </div>
            <div class="bot-menu">
                <div class="close-menu"></div>
                <div class="menu-mobile fancy-menu cfix">
                    <div class="conv-o">
                        <img src="images/mobile.png" alt="">
                    </div>
                    <div class="tex">меню</div>
                </div>
                <nav>
                    <ul>
                        <li> <a href="#first"> О нас</a> </li>
                        <li> <a href="#second-block"> В чем мы можем помочь</a> </li>
                        <li> <a href="#sixth-block"> Цены </a> </li>
                        <li> <a href="#third-block"> Преимущества </a></li>
                        <li> <a href="#fifth-block"> Как мы работаем</a> </li>
                        <li> <a href="#tenth-block"> Контакты</a> </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- /HEADER -->

