<section id="nineth-block" class="nineth-block">
    <div class="nine-wrap">
        <div class="mbox">
            <div class="title-block">
                <h2>Как стать нашим клиентом?</h2>
                <p>Есть три способа сделать это!</p>
            </div>
            <div class="conversion cfix">
                <div class="item">
                    <div class="convert">
                        <div class="title-item">
                            <h5>Заполните <br/> форму обратной связи </h5>
                        </div>
                        <div class="form-block">
                            <form action="ajax.php" name="" class="contact-form mark6">
                                <div class="content">
                                    <div class="contact-form-row cfix">
                                        <div class="contact-form-item">
                                            <div class="contact-form-item-input form_row">
                                                <div class="form_input">
                                                    <input type="text" name="contact_name" required="required" value="" placeholder="Имя">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="contact-form-item">
                                            <div class="contact-form-item-input form_row">
                                                <div class="form_input">
                                                    <input type="text" name="contact_tel" value="" required="required" placeholder="Телефон" class="tel-mask">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="contact-form-row-submit cfix">
                                        <div class="contact-form-item">
                                            <button type="submit" class="contact-submit">
                                                <span>Отправить</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

                <div class="item">
                    <div class="convert">
                        <div class="title-item">
                            <h5>Оставьте заявку и мы вам перезвоним</h5>
                        </div>
                        <div class="form-block">
                            <form action="ajax.php" name="" class="contact-form mark7">
                                <div class="content">
                                    <div class="contact-form-row cfix">
                                        <div class="contact-form-item">
                                            <div class="contact-form-item-input form_row">
                                                <div class="form_input">
                                                    <input type="text" name="contact_name" required="required" value="" placeholder="Имя">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="contact-form-item">
                                            <div class="contact-form-item-input form_row">
                                                <div class="form_input">
                                                    <input type="text" name="contact_tel" value="" required="required" placeholder="Телефон" class="tel-mask">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="contact-form-item">
                                            <div class="contact-form-item-input form_row">
                                                <div class="form_input time-pi">
                                                    <input type="text" name="contact_time" value="" required="required" placeholder="Время для звонка" class="time-picker">
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="contact-form-row-submit cfix">
                                        <div class="contact-form-item">
                                            <button type="submit" class="contact-submit">
                                            <span>Отправить</span>
                                        </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="convert">
                        <div class="title-item"> <h5> Свяжитесь в с нами любым удобным для вас способом:</h5> </div>
                        <div class="contact">
                            <a href="" class="contact-tel"> +375 29 626 87 47 </a>
                            <a href="" class="contact-email"> email: info@tukin.by </a>
                            <p> или записывайтесь на личную встречу у нас в офисе по адресу ул. Кальварийская 1, оф. 121 </p>
                            <p>Понедельник-пятница <br/> 9 00 - 18 00. <br /> Обеденный перерыв <br/> 13 00 - 14 00. </p>
                            <p>Выходные дни: <br/> суббота, воскресенье </p>
                        </div>
                    </div>
                </div>
            </div>
</section>