<section class="second-block" id="second-block">

    <div class="mbox setion-animate">

        <h2 class="title animate-it">100% экспертность в следующих областях</h2>

        <div class="second-block-wrap">

            <!-- prety circle -->
            <div class="prety-circle-main">

                <div class="prety-circle-main-wrap">
                    <div class="prety-circle-item prety-1">
                        <div class="prety-circle-content">
                            <div class="prety-circle-text">

                                <div class="prety-circle-img">
                                    <img src="images/prety-circle-img1.png" alt="" />
                                </div>

                                <div class="prety-circle-title">

                                    <div class="prety-circle-title-wrap">
                                        <p>
                                            <span>Гражданские</span>
                                        </p>
                                        <p>
                                            <span>дела</span>
                                        </p>
                                    </div>

                                    <div class="prety-circle-popup">
                                        <div class="prety-circle-popup-wrap ctext">
                                            <h4>Гражданские дела:</h4>
                                            <ul>
                                                <li>дела о возмещении вреда, причиненного имуществу;</li>
                                                <li>cпоры о правах на квартиру, дом, земельный участок и иное недвижимое имущество;</li>
                                                <li>дела о взыскании денежных средств с должников по распискам и договорам займа;</li>
                                                <li>дела о возмещении вреда, причиненного жизни или здоровью гражданина;</li>
                                                <li>дела о взыскании морального и материального вреда с ответчика;</li>
                                                <li>дела о защите чести, достоинства и деловой репутации;</li>
                                                <li>споры о заключении, изменении и расторжении договоров;</li>
                                                <li>споры о наследстве;</li>
                                                <li>защита прав потребителя.</li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>

                                <div class="prety-circle-descript">Более 1 000 успешных дел.</div>

                                <div class="mobile-text ctext">
                                    <ul>
                                        <li>дела о возмещении вреда, причиненного имуществу;</li>
                                        <li>cпоры о правах на квартиру, дом, земельный участок и иное недвижимое имущество;</li>
                                        <li>дела о взыскании денежных средств с должников по распискам и договорам займа;</li>
                                        <li>дела о возмещении вреда, причиненного жизни или здоровью гражданина;</li>
                                        <li>дела о взыскании морального и материального вреда с ответчика;</li>
                                        <li>дела о защите чести, достоинства и деловой репутации;</li>
                                        <li>споры о заключении, изменении и расторжении договоров;</li>
                                        <li>споры о наследстве;</li>
                                        <li>защита прав потребителя.</li>
                                    </ul>
                                </div>

                                <div class="mobile-button">
                                    <span>Подробнее</span>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="prety-circle-item prety-2">
                        <div class="prety-circle-content">

                            <div class="prety-circle-text">

                                <div class="prety-circle-img">
                                    <img src="images/prety-circle-img2.png" alt="" />
                                </div>

                                <div class="prety-circle-title">

                                    <div class="prety-circle-title-wrap">
                                        <p>
                                            <span>Представление</span>
                                        </p>
                                        <p>
                                            <span>интересов</span>
                                        </p>
                                        <p>
                                            <span>в суде</span>
                                        </p>
                                    </div>

                                    <div class="prety-circle-popup">
                                        <div class="prety-circle-popup-wrap ctext">
                                            <h4>Представление интересов в суде:</h4>
                                            <p>Согласно законодательству обычный юрист не вправе представлять Ваши интересы в суде, а самостоятельно защитить свои права достаточно сложно, не зная всех тонкостей законодательства. По мере возникновения потребностей люди обращаются к специалистам в сфере здравоохранения, образования и т.д. Однако предпочитают решать юридические вопросы самостоятельно, что зачастую приводит к усложнению ситуации, поскольку каждый из нас является специалистом только в той профессии, которую он выбрал.</p>
                                            <p>Если Вы хотите выиграть спор в суде, в первую очередь нужно осознать, что представительство в суде адвоката необходимо.</p>
                                            <p>Адвокат Минской городской коллегии адвокатов Тукин Андрей Николаевич практикует уже более 12 лет, за время своей практики заслужил положительные отзывы о своей работе, обладает стратегическим складом ума и всегда просчитывает ситуацию на несколько шагов вперёд.</p>
                                            <ul>
                                                <li>жилищные споры;</li>
                                                <li>земельные споры;</li>
                                                <li>семейные споры.</li>
                                                <li>имущественные споры споры;</li>
                                                <li>трудовые споры;</li>
                                                <li> административные споры;</li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>

                                <div class="prety-circle-descript inline-circle">Жилищные, имущественные, земельные, трудовые и административные споры</div>

                                <div class="mobile-text ctext">
                                    <p>Согласно законодательству обычный юрист не вправе представлять Ваши интересы в суде, а самостоятельно защитить свои права достаточно сложно, не зная всех тонкостей законодательства. По мере возникновения потребностей люди обращаются к специалистам в сфере здравоохранения, образования и т.д. Однако предпочитают решать юридические вопросы самостоятельно, что зачастую приводит к усложнению ситуации, поскольку каждый из нас является специалистом только в той профессии, которую он выбрал.</p>
                                    <p>Если Вы хотите выиграть спор в суде, в первую очередь нужно осознать, что представительство в суде адвоката необходимо.</p>
                                    <p>Адвокат Минской городской коллегии адвокатов Тукин Андрей Николаевич практикует уже более 12 лет, за время своей практики заслужил положительные отзывы о своей работе, обладает стратегическим складом ума и всегда просчитывает ситуацию на несколько шагов вперёд.</p>
                                    <ul>
                                        <li>жилищные споры;</li>
                                        <li>земельные споры;</li>
                                        <li>семейные споры.</li>
                                        <li>имущественные споры споры;</li>
                                        <li>трудовые споры;</li>
                                        <li> административные споры;</li>
                                    </ul>
                                </div>

                                <div class="mobile-button">
                                    <span>Подробнее</span>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="prety-circle-item prety-3">
                        <div class="prety-circle-content">
                            <div class="prety-circle-text">

                                <div class="prety-circle-img">
                                    <img src="images/prety-circle-img3.png" alt="" />
                                </div>

                                <div class="prety-circle-title">

                                    <div class="prety-circle-title-wrap">
                                        <p>
                                            <span>Раздел</span>
                                        </p>
                                        <p>
                                            <span>имущества</span>
                                        </p>
                                    </div>

                                    <div class="prety-circle-popup blue-list">
                                        <div class="prety-circle-popup-wrap ctext">
                                            <h4>Раздел имущества:</h4>
                                            <ul>
                                                <li>консультация по разделу имущества;</li>
                                                <li>составление запросов в уполномоченные органы;</li>
                                                <li>подготовка документов в суд;</li>
                                                <li>представительство интересов в суде.</li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>

                                <div class="prety-circle-descript">Выиграно более 200 имущественных споров</div>

                                <div class="mobile-text ctext">
                                    <ul>
                                        <li>консультация по разделу имущества;</li>
                                        <li>составление запросов в уполномоченные органы;</li>
                                        <li>подготовка документов в суд;</li>
                                        <li>представительство интересов в суде.</li>
                                    </ul>
                                </div>

                                <div class="mobile-button">
                                    <span>Подробнее</span>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="prety-circle-item prety-4">
                        <div class="prety-circle-content">
                            <div class="prety-circle-text">

                                <div class="prety-circle-img">
                                    <img src="images/prety-circle-img4.png" alt="" />
                                </div>

                                <div class="prety-circle-title">

                                    <div class="prety-circle-title-wrap">
                                        <p>
                                            <span>Семейные</span>
                                        </p>
                                        <p>
                                            <span>дела</span>
                                        </p>
                                    </div>

                                    <div class="prety-circle-popup blue-list">
                                        <div class="prety-circle-popup-wrap ctext">
                                            <h4>Семейные дела:</h4>
                                            <ul>
                                                <li>расторжение брака;</li>
                                                <li>раздел имущества супругов;</li>
                                                <li>составление Брачного договора;</li>
                                                <li>взыскание алиментов;</li>
                                                <li>вопросы, связанные с воспитанием детей;</li>
                                                <li>установление материнства или отцовства;</li>
                                                <li>лишение родительских прав.</li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>

                                <div class="prety-circle-descript">Разводы, алименты, раздел общего имущества, воспитание детей, родительские права и прочее.</div>

                                <div class="mobile-text ctext">
                                    <ul>
                                        <li>расторжение брака;</li>
                                        <li>раздел имущества супругов;</li>
                                        <li>составление Брачного договора;</li>
                                        <li>взыскание алиментов;</li>
                                        <li>вопросы, связанные с воспитанием детей;</li>
                                        <li>установление материнства или отцовства;</li>
                                        <li>лишение родительских прав.</li>
                                    </ul>
                                </div>

                                <div class="mobile-button">
                                    <span>Подробнее</span>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="prety-circle-item prety-5">
                        <div class="prety-circle-content">
                            <div class="prety-circle-text">

                                <div class="prety-circle-img">
                                    <img src="images/prety-circle-img5.png" alt="" />
                                </div>

                                <div class="prety-circle-title">

                                    <div class="prety-circle-title-wrap">
                                        <p>
                                            <span>Жилищные</span>
                                        </p>
                                        <p>
                                            <span>споры</span>
                                        </p>
                                    </div>

                                    <div class="prety-circle-popup blue-list">
                                        <div class="prety-circle-popup-wrap ctext">
                                            <h4>Жилищные споры:</h4>
                                            <ul>
                                                <li>споры, связанные с владением и пользованием жилыми помещениями;</li>
                                                <li>споры, возникающие из приватизации;</li>
                                                <li>споры, возникающие из долевого строительства;</li>
                                                <li>споры, вытекающие из членства в организациях граждан-застройщиков;</li>
                                                <li>споры о выселении, вселении;</li>
                                                <li>споры о разделе и изменения долей в праве собственности;</li>
                                                <li>споры, возникающие из найма жилых помещений;</li>
                                                <li>споры, возникающие из обращения жилищных облигаций;</li>
                                                <li>споры, возникающие из сделок с жилым и нежилым недвижимым имуществом: дарение,</li>
                                                <li>аренда, безвозмездное пользование, обмен, наем, рента и пр.</li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>

                                <div class="prety-circle-descript inline-circle">Защита Ваших прав на жилое имущество</div>

                                <div class="mobile-text ctext">
                                    <ul>
                                        <li>споры, связанные с владением и пользованием жилыми помещениями;</li>
                                        <li>споры, возникающие из приватизации;</li>
                                        <li>споры, возникающие из долевого строительства;</li>
                                        <li>споры, вытекающие из членства в организациях граждан-застройщиков;</li>
                                        <li>споры о выселении, вселении;</li>
                                        <li>споры о разделе и изменения долей в праве собственности;</li>
                                        <li>споры, возникающие из найма жилых помещений;</li>
                                        <li>споры, возникающие из обращения жилищных облигаций;</li>
                                        <li>споры, возникающие из сделок с жилым и нежилым недвижимым имуществом: дарение,</li>
                                        <li>аренда, безвозмездное пользование, обмен, наем, рента и пр.</li>
                                    </ul>
                                </div>

                                <div class="mobile-button">
                                    <span>Подробнее</span>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="prety-circle-item prety-6">
                        <div class="prety-circle-content">
                            <div class="prety-circle-text">

                                <div class="prety-circle-img">
                                    <img src="images/prety-circle-img6.png" alt="" />
                                </div>

                                <div class="prety-circle-title">

                                    <div class="prety-circle-title-wrap">
                                        <p>
                                            <span>Составление</span>
                                        </p>
                                        <p>
                                            <span>исковых заявлений</span>
                                        </p>
                                        <p>
                                            <span>и жалоб</span>
                                        </p>
                                    </div>

                                    <div class="prety-circle-popup">
                                        <div class="prety-circle-popup-wrap ctext">
                                            <h4>Составление исковых заявлений и жалоб:</h4>
                                            <p>Подготовка иска начинается с беседы с клиентом. Мы должны полностью изучить ситуацию, чтобы впоследствии максимально защитить Ваши интересы. Далее мы берем на себя все заботы,связанные со сбором необходимых документов, подачей их в суд. Вы можете не появляться всудебном заседании, поручив на основании доверенности ведение дела нам.</p>
                                            <ul>
                                                <li>анализ документов;</li>
                                                <li>взаимодействие с клиентом в целях выявления его потребностей;</li>
                                                <li>юридически грамотное составление исковых заявлений и жалоб.</li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>

                                <div class="mobile-text ctext">
                                    <p>Подготовка иска начинается с беседы с клиентом. Мы должны полностью изучить ситуацию, чтобы впоследствии максимально защитить Ваши интересы. Далее мы берем на себя все заботы,связанные со сбором необходимых документов, подачей их в суд. Вы можете не появляться всудебном заседании, поручив на основании доверенности ведение дела нам.</p>
                                    <ul>
                                        <li>анализ документов;</li>
                                        <li>взаимодействие с клиентом в целях выявления его потребностей;</li>
                                        <li>юридически грамотное составление исковых заявлений и жалоб.</li>
                                    </ul>
                                </div>

                                <div class="mobile-button">
                                    <span>Подробнее</span>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="prety-circle-item prety-7">
                        <div class="prety-circle-content">
                            <div class="prety-circle-text">

                                <div class="prety-circle-img">
                                    <img src="images/prety-circle-img7.png" alt="" />
                                </div>

                                <div class="prety-circle-title">

                                    <div class="prety-circle-title-wrap">
                                        <p>
                                            <span>Составление и</span>
                                        </p>
                                        <p>
                                            <span>экспертиза</span>
                                        </p>
                                        <p>
                                            <span>договоров</span>
                                        </p>
                                    </div>

                                    <div class="prety-circle-popup red-list">
                                        <div class="prety-circle-popup-wrap ctext">
                                            <h4>Составление и экспертиза договоров:</h4>
                                            <p>12-летний опыт. Более 1 000 составленных договоров. Вы защищены от судебных тяжб, поскольку наши договора составляются только с учетом интересов клиента. Такой подход исключает возможность для контрагента обратиться в суд.</p>
                                            <p>Юридическая и фактическая сторона договора. При подготовке неопытный юрист оформляет только юридическую сторону договора, не заботясь о том, как договор будет исполняться на практике. Однако профессионал, который заботится об интересах клиента, будет готовить также и фактическую сторону. Созданный договор должен работать и легко реализовываться на практике.</p>
                                            <p>Мастерство состоит в том, чтобы максимально учесть интересы клиента и ослабить позицию контрагента.</p>
                                            <ul>
                                                <li>договор купли-продажи;</li>
                                                <li>договор оказания услуг;</li>
                                                <li>договор подряда;</li>
                                                <li>договор аренды;</li>
                                                <li>договор дарения;</li>
                                                <li>брачный договор;</li>
                                                <li>трудовой договор.</li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>

                                <div class="prety-circle-descript">Подготовлено более 1000 договоров</div>

                                <div class="mobile-text ctext">
                                    <p>12-летний опыт. Более 1 000 составленных договоров. Вы защищены от судебных тяжб, поскольку наши договора составляются только с учетом интересов клиента. Такой подход исключает возможность для контрагента обратиться в суд.</p>
                                    <p>Юридическая и фактическая сторона договора. При подготовке неопытный юрист оформляет только юридическую сторону договора, не заботясь о том, как договор будет исполняться на практике. Однако профессионал, который заботится об интересах клиента, будет готовить также и фактическую сторону. Созданный договор должен работать и легко реализовываться на практике.</p>
                                    <p>Мастерство состоит в том, чтобы максимально учесть интересы клиента и ослабить позицию контрагента.</p>
                                    <ul>
                                        <li>договор купли-продажи;</li>
                                        <li>договор оказания услуг;</li>
                                        <li>договор подряда;</li>
                                        <li>договор аренды;</li>
                                        <li>договор дарения;</li>
                                        <li>брачный договор;</li>
                                        <li>трудовой договор.</li>
                                    </ul>
                                </div>

                                <div class="mobile-button">
                                    <span>Подробнее</span>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="prety-circle-item prety-8">
                        <div class="prety-circle-content">
                            <div class="prety-circle-text">

                                <div class="prety-circle-img">
                                    <img src="images/prety-circle-img8.png" alt="" />
                                </div>

                                <div class="prety-circle-title">

                                    <div class="prety-circle-title-wrap">
                                        <p>
                                            <span>Юридическая</span>
                                        </p>
                                        <p>
                                            <span>консультация</span>
                                        </p>
                                    </div>

                                    <div class="prety-circle-popup red-list">
                                        <div class="prety-circle-popup-wrap ctext">
                                            <h4>Юридическая консультация:</h4>
                                            <p>Профессиональные консультации в различных отраслях права. Предоставление письменных заключений.</p>
                                            <ul>
                                                <li>гражданское право;</li>
                                                <li>жилищное право;</li>
                                                <li>семейное право;</li>
                                                <li>наследственное право;</li>
                                                <li>трудовое право;</li>
                                                <li>административное право.</li>
                                            </ul>
                                        </div>
                                    </div>

                                </div>

                                <div class="prety-circle-descript">Квалифицированная консультация по правовым вопросам</div>

                                <div class="mobile-text ctext">
                                    <p>Профессиональные консультации в различных отраслях права. Предоставление письменных заключений.</p>
                                    <ul>
                                        <li>гражданское право;</li>
                                        <li>жилищное право;</li>
                                        <li>семейное право;</li>
                                        <li>наследственное право;</li>
                                        <li>трудовое право;</li>
                                        <li>административное право.</li>
                                    </ul>
                                </div>

                                <div class="mobile-button">
                                    <span>Подробнее</span>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>

                <div class="prety-circle-mask">
                    <div class="prety-circle-item prety-1">
                        <div class="prety-circle-background yellow">
                            <div class="prety-circle-gradient"></div>
                        </div>
                    </div>
                    <div class="prety-circle-item prety-2">
                        <div class="prety-circle-background brown">
                            <div class="prety-circle-gradient"></div>
                        </div>
                    </div>
                    <div class="prety-circle-item prety-3">
                        <div class="prety-circle-background light-blue">
                            <div class="prety-circle-gradient"></div>
                        </div>
                    </div>
                    <div class="prety-circle-item prety-4">
                        <div class="prety-circle-background blue">
                            <div class="prety-circle-gradient"></div>
                        </div>
                    </div>
                    <div class="prety-circle-item prety-5">
                        <div class="prety-circle-background blue">
                            <div class="prety-circle-gradient"></div>
                        </div>
                    </div>
                    <div class="prety-circle-item prety-6">
                        <div class="prety-circle-background purple">
                            <div class="prety-circle-gradient"></div>
                        </div>
                    </div>
                    <div class="prety-circle-item prety-7">
                        <div class="prety-circle-background tomato">
                            <div class="prety-circle-gradient"></div>
                        </div>
                    </div>
                    <div class="prety-circle-item prety-8">
                        <div class="prety-circle-background red">
                            <div class="prety-circle-gradient"></div>
                        </div>
                    </div>
                </div>

            </div>
            <!-- /prety circle -->

            <!-- center form -->
            <div class="second-block-form-wrap">
                <form action="" class="second-block-form">
                    <div class="form-row">
                        <div class="form-input">
                            <input type="text" name="client_name" placeholder="Имя" required="required" />
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-input">
                            <input type="text" class="tel-mask" name="telephone" placeholder="Телефон" required="required" />
                        </div>
                    </div>
                    <div class="form-row submit">
                        <button class="button">
                            <span>Мы перезвоним</span>
                        </button>
                    </div>
                </form>
            </div>
            <!-- /center form -->

        </div>

    </div>

</section>
