<section class="seven-block" id="seven-block">

    <div class="seven-wrap">
        <div class="title">
            <h2>Дела наших клиентов</h2>
        </div>
        <div class="seven-content">
            <div class="item">
                <div class="mbox">
                    <div class="ttl">
                        <p>ДЕЛО №<span class="number">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
                    </div>
                    <div class="subttl">
                        <p>о признании права собственности</p>
                            <p>на наследство</p>

                    </div>
                    <div class="txt">
                        <p>Гражданин С. обратился за помощью в защите собственноaго наследства от посягательств других лиц.</p>
<br/>
                        <p>После смерти отца открылось наследство, в состав которого вошла доля в двухкомнатной квартире в г. Минске.</p>
                        <br/>
                        <p>С. не располагал сведениями об отце, так как отношения между ними прекратились в раннем возрасте. Отец покинул семью и развелся с матерью С., материально не поддерживал. Поэтому о смерти отца С. узнал только после подачи второй женой отца Т. искового заявления о признании ее членом семьи и признании права пользования на квартиру в г. Минск.</p>
                        <br/>
                        <p>В процессе подготовки к судебному разбирательству нами было выяснено, что Т. на праве собственности принадлежит квартира в г. Смолевичи. Указанная квартира была приобретена по договору купли-продажи в период брака отца С.и Т. Отец С. не знал о
                        приобретении квартиры Т. Таким образом, квартира была приобретена в период брака и является совместно нажитым имуществом. Следовательно, после смерти отца С. квартира вошла в состав наследства покойного.</p>
                        <br/>
                        <p>На основании изложенного нами был подан иск о признании наследства:</p>
                        <br/>
                        <p><ul>
                            <li>квартира в г. Минск;</li>
                        <li>1/2 доли в праве собственности на квартиру в г. Смолевичи.</li></ul></p>
                        <br/>
                        <p>Благодаря квалифицированным и своевременным действиям удалось сохранить за С. не только квартиру отца, но и предъявить требования на долю в праве собственности на 2 квартиру.</p>


                    </div>
                </div>
            </div>
            <div class="item addaptive-adict">
                <div class="mbox">
                    <div class="ttl">
                        <p>ДЕЛО №<span class="number">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
                    </div>
                    <div class="subttl">
                        <p> о возмещении убытков в результате</p>
                        <p>   дорожно-транспортного происшествия (ДТП)  </p>
                    </div>
                    <div class="txt">
                        <p>Произошло ДТП, в результате которого гражданин К., управляя автомобилем Ниссан Премьера, провалился передним левым колесом в яму на дороге.</p>
                        <p>Согласно Протоколу осмотра места совершения административного правонарушения и транспортных средств, в результате ДТП автомобиль получил механические повреждения.</p>
                        <br/>
                        <p>В результате проделанной нами работы виновником ДТП было признано УМиСР ТП «управление строительных и монтажных работ исполкома» , как лицо, ответственное за содержание зоны производства работ на дороге.</p>
                        <br/>
                        <p>С Ответчика были взысканы:</p>
                        <ul>
                            <li>сумма вреда, причиненного повреждением автомобиля;</li>
                            <li>сумма расходов по эвакуации автомобиля;</li>
                            <li>сумма расходов по оценке ущерба;</li>
                            <li>сумма уплаченной государственной пошлины за подачу иска;</li>
                            <li>расходы на оплату помощи адвоката.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="item not-active">
                <div class="mbox">
                    <div class="ttl">
                        <p>ДЕЛО №<span class="number">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
                    </div>
                    <div class="subttl">
                        <p>
                            о восстановлении на работе и выплате</p>
                            <p>заработной платы</p>

                    </div>
                    <div class="txt">
                        <p>По причине неприязненных отношений с руководством истица Р. в результате давления была уволена с должности главного
                        бухгалтера за прогул без погашения задолженности по заработной плате.</p>
                        <br/>
                        <p>В результате проведенных переговоров с работодателем нам удалось заключить для клиента мировое соглашение, согласно которому было изменена формулировка увольнения с «уволен за прогул» на «по соглашению сторон», а также была выплачена задолженность по заработной плате.</p>
                    </div>
                </div>
            </div>
            <div class="item not-active">
                <div class="mbox">
                    <div class="ttl">
                        <p>ДЕЛО №<span class="number">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></p>
                    </div>
                    <div class="subttl">
                        <p>
                            об устранении препятствий в общении
                            </p>
                        <p>с ребенком</p>

                    </div>
                    <div class="txt">
                        <p>Гражданин П. обратился за помощью с целью получить возможность общения с ребенком.</p>
                        <br/>
                        <p>Совершенные нами действия позволили доказать, что ребенок фактически воспитывается гражданином П., поскольку мать ребенка не заинтересована в воспитании.</p>
                        <br/>
                        <p>В качестве доказательств использовались свидетельские показания, данные медицинского обслуживания ребенка, совместные выезды за границу.</p>
                        <br/>
                        <p>Судом был определен порядок общения с ребенком, ежегодный совместный отдых, а также посещения во время болезни.</p>
                        <br/>
                        <p>С Ответчика были взысканы:</p>
    <ul>
                        <li>сумма уплаченной государственной пошлины за подачу иска;</li>
                        <li>расходы на оплату помощи адвоката.</li></ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="arrow-down">
            <p> Посмотреть еще дела</p>
        </div>
    </div>

</section>