<section id="tenth-block" class="tenth-block">
    <div class="tenth-wrap">
        <div class="mbox">
            <div class="title-row">
                <h2>Контакты</h2>
            </div>
            <div class="convert cfix">
                <div class="left-conteiner">
                    <div class="text">
                        <p> Телефон: <a href=""> +375 29 626 87 47  </a>  </p>
                        <p>Понедельник-пятница 9 00-18 00.</p>
                        <p> Обеденный перерыв 13 00-14 00. </p>
                        <p> Выходные дни: суббота, воскресенье  </p>
                    </div>
                    <div class="mail-box">
                        <p>E-mail: <a href="#"> info@tukin.by</a>   </p>
                    </div>
                    <div class="form">
                        <div class="form-block">
                                <form action="ajax.php" name="" class="contact-form mark8">
                                    <div class="content">
                                        <div class="contact-form-title">
                                            <h5> Запишитесь на прием </h5>
                                        </div>
                                        <div class="contact-form-row cfix">
                                            
                                            <div class="contact-form-item">
                                                <div class="contact-form-item-input form_row">
                                                    <div class="form_input">
                                                        <input type="text" name="contact_tel" value="" required="required" placeholder="Телефон" class="tel-mask">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="contact-form-item">
                                                <div class="contact-form-item-input form_row">
                                                    <div class="form_input pick-date">
                                                        <input type="text" id="datepicker" name="date" required="required" value="" placeholder="Дата">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="contact-form-row-submit cfix">
                                            <div class="contact-form-item">
                                                <button type="submit" class="contact-submit">
                                                    <span>Записаться</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                    </div>
                </div>
                <div class="right-conteiner">
                    <div id="map"></div>
                </div>
            </div>
            <div class="foot-row">
                <div class="desk-block">
                    <p>Лицензия  Министерства юстиции Республики Беларусь на право осуществления адвокатской деятельности №02240/2275, выдана на основании решения Министерства юстиции Республики Беларусь №12 от 22.01.2013 г. (действительна по 22.01.2018 г.) </p>
                </div>
                <div class="cont">
                    <div class="con-top">
                        <a href="" class="tel">Телефон: +375 29 626 87 47</a>
                        <a href="" class="mail">E-mail: info@tukin.by   </a>
                    </div>                    
                    <div class="soc-block">
                        <a href="" class="vk"></a>
                        <a href="" class="fb"></a>
                        <a href="" class="you"></a>
                        <a href="" class="karandash"></a>
                    </div>
                </div>
                <div class="logo">
                    <p>Создание сайта</p>
                    <a href="#">
                        <img src="images/logo.png" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>