<section class="third" id="third-block">
	<div class="third-background">
		<div class="mbox setion-animate">
			<div class="advantages">
				<div class="advantage-headding animate-it">
					<div class="cover">Обратившись к нам Вы получите.
						<!-- shadow -->
						<div class="shadow"><img src="images/third-block-shadow.png"></div>
						<!-- shadow -->
					</div>
				</div>
				<div class="adv-img animate-delay"><img src="images/adv-doc.png"></div>
				<div class="advantage animate-delay">Решение проблемы. Полное избавление от боли, связанной со сбором документов, подачей заявлений в государственные органы, 
					присутствием в суде. Вам не надо волноваться о написании претензии, составлении иска и т.д. Мы все сделаем сами, начиная от 
					подготовки дела и заканчивая  контролем за исполнением решения суда.</div>
				<div class="adv-img animate-delay"><img src="images/adv-coin.png"></div>
				<div class="advantage animate-delay">Взыскание расходов по оплате помощи адвоката и госпошлины – за счет Вашего ответчика (должника).</div>
				<div class="adv-img animate-delay"><img src="images/adv-hand.png"></div>
				<div class="advantage animate-delay"> Уверенность, что каждый день приближает Вас к нужному результату.</div>
				<div class="adv-img animate-delay"><img src="images/adv-scales.png"></div>
				<div class="advantage animate-delay">Возможность забыть о проблеме и поручить все дела нам.</div>
			</div>
		
		</div>
	</div>
</section>